*{

}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F4F7;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container{
    padding: 20px;
    border-radius: 8px;
    display: flex;
    width: 80%;
    height: 70%;
    justify-content: space-around;
    align-items: center;
}

.container .logo h1{
    color: #0866FF;
    font-size: 70px;
    margin: 0;
}

.container .logo p{
    font-size: 25px;
    color: #333333;
}

.form{
    background-color: #fff;
    width: 350px;
    height: 300px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-right: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .container .input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddfe2;
    border-radius: 4px;
} */
input[type="email"]{

}

input[type="password"]{
    margin: 10px 0;
}


input[type="email"], input[type="password"] {
    padding: 15px 20px;
    border: 1px solid #dddfe2;
    border-radius: 4px;
}

input::placeholder{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.4);
}
button{
    background-color: #1877F2;
    color: white;
    font-size: large;
    font-weight: 700;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover{
    background-color: rgba(24, 119, 242, 0.8);
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.links a{
    text-decoration: none;
}
.links .forgot{
    padding: 10px 0;
    font-size: small;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.links .forgot a{
    color: #1877F2;
}

.links .forgot a:hover{
    text-decoration: underline;
}

.links .create{
    margin-top: 30px;

}

.links .create a{
    padding: 15px;
    background-color: #42B72A;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
}

.links .create a:hover{
    background-color: rgba(66, 183, 42, 0.7);
}